.page {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  color: #f2f2f3;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  background-color: #131316;
  overflow: hidden;
  width: 62%;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 1919px) {
  .container {
    width: 80%;
  }
}

@media (max-width: 1540px) {
  .container {
    width: 90%;
  }
}
