.header {
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
}

.btn {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
}

.btn span {
  display: block;
  color: #f2f2f3;
}
